/*! project specific CSS goes here. */

.row1 { height: 5em; }
.row3 { height: 5em; }

.row2 .row { min-height: 40em; margin: 3em 0 3em 0; border: 2px dashed black; border-radius: 5px; }
.row2 .row h1 { margin: 1em 0 1em 0; }
.row2 .row form { margin: auto 0 auto 0; }
.row2 .row form label { font-weight: bold; }
.row2 .row form ul.errorlist { color: red; list-style-type: none; padding: 0; max-width: 20em; }
.row2 .row form p span { display: block; font-size: smaller; }
.row2 .row p { text-align: justify; }
