{# templates/base.html #}

{% load staticfiles %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Lorem ipsum{% endblock title %}</title>
    <meta name="description" content="{% block description %}Lorem ipsum dolor sit amet, consectetur adipiscing elit.{% endblock description %}">
    <meta name="author" content="{% block author %}David Casas Molina{% endblock author %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template, then move to base.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>
    <!-- Header -->
    <div class="wrapper row1">
      <header id="header" class="clear">
        {% include 'header.html' %}
      </header>
    </div>
    <!-- /Header -->


    <!-- Content -->
    <div class="wrapper row2">
      <div id="container" class="clear">

        {% block fixedupper %}
        {% endblock fixedupper %}

        <div id="maincontent" class="container">
          {% block maincontent %}{% endblock maincontent %}
        </div>

        {% block fixedlower %}
        {% endblock fixedlower %}

      </div>
    </div>
    <!-- /Content -->


    <!-- Footer -->
    <div class="wrapper row3">
      <footer id="footer" class="clear">
        {% include 'footer.html' %}
      </footer>
    </div>
    <!-- /Footer -->


    <!-- JS is placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'js/popper.min.js' %}" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


    <!-- Project specific Javascript in this file -->
    <script src="{% static 'js/base.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
