{# templates/home.html #}

{% extends 'base.html' %}
{% load staticfiles %}


{% block maincontent %}
<section>
  <div class="row col-lg-10 mx-auto">
    {% if user.is_authenticated %}
    <h1 class="text-uppercase mx-auto">Hello {{ user.username | upper }}</h1>
    {% else %}
    <h1 class="text-uppercase mx-auto">Hello anonymous user</h1>
    {% endif %}

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non molestie odio, et pharetra urna. Maecenas sit amet dignissim orci. Vivamus eu urna orci. Vivamus varius accumsan nibh, ac mattis turpis posuere a. Mauris rutrum, metus sit amet pretium ultricies, eros nisl consequat leo, eget maximus est enim id enim. Mauris ultrices elit metus, quis tempus ante convallis vel. Donec ac blandit massa. Praesent at justo eget dolor tincidunt efficitur non at purus. Phasellus sollicitudin arcu sed augue pulvinar auctor. Quisque quis eros nibh. Fusce aliquet justo nec urna posuere, sit amet volutpat lorem tincidunt.</p>
    <p>Pellentesque pretium, quam id tincidunt sollicitudin, nibh ligula cursus dui, sit amet facilisis nunc urna vitae arcu. Sed malesuada maximus lectus, vel euismod lacus semper id. Donec porta ultricies magna nec convallis. Nam dignissim risus et sem suscipit, ac vulputate odio bibendum. Suspendisse eget turpis eu diam consequat lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus egestas mi, porttitor sagittis ex pretium et. Donec elementum vulputate libero, ut placerat urna hendrerit id. Cras est dolor, tristique vitae dolor eu, lobortis tincidunt felis. Aenean vitae tellus turpis. Curabitur quam ex, tristique sed tortor ac, consectetur viverra tellus. Nam nunc lectus, venenatis non posuere sit amet, ultricies id justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p>Nulla facilisi. Nunc sem leo, dictum in imperdiet quis, tempus quis dui. Etiam id rhoncus elit. Duis in cursus felis. Nulla finibus velit ac leo ornare, a lobortis metus mattis. Mauris urna velit, dictum sit amet lorem ac, ullamcorper feugiat felis. Mauris tristique neque risus. Nulla pulvinar nisl nunc, ut bibendum mauris iaculis eget. Vivamus ac nunc semper, congue risus at, eleifend enim. Morbi lobortis venenatis dui, id commodo arcu tristique at. Pellentesque faucibus accumsan leo, vel dignissim urna tristique ac. Donec egestas, enim at venenatis mattis, diam dui ornare arcu, ut mattis libero dui vitae metus. Aliquam neque magna, euismod sit amet augue et, condimentum consequat leo. Donec non diam sed eros vehicula maximus. Aenean tellus libero, mollis laoreet tortor in, viverra lobortis metus. Aliquam tincidunt gravida orci a elementum.</p>
    <p>Nulla dignissim pretium nulla. Sed a purus nisl. Quisque fermentum dolor non tempor accumsan. Integer malesuada urna tortor, et tristique diam porta a. Duis sodales nibh ut nisi tincidunt, vitae elementum tortor molestie. Ut nisi enim, accumsan ac arcu sit amet, euismod faucibus tellus. Suspendisse nec nisi massa. Fusce lacinia orci quis metus cursus commodo.</p>
  </div>
</section>
{% endblock maincontent %}
