{# templates/signup.html #}

{% extends 'base.html' %}
{% load staticfiles %}


{% block maincontent %}
<section>
  <div class="row col-lg-10 mx-auto">
    <form class="mx-auto" action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" value="{{ submit_text }}" />
    </form>
  </div>
</section>
{% endblock maincontent %}


